.presentation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    max-width: 100vw;
    max-height: 100vh;
    padding: 1rem;
  }
  .title__text {
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 8rem;
    color: rgba(13, 33, 73, 0.8);
  }
  .video {
    padding: 0.5rem;
    height: 80%;
    background-color: #fff;
    border: 1px solid rgba(0, 7, 167, 0.64);
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .video__worketyamo {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .button__video {
    position: absolute;
  }
  